#landscape__page {
    background-color: var(--background);
}

.landscape__container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background);
    height: 75vh;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
}

.landscape__left {
    flex: 1;
}

.landscape__title {
    font-size: 3rem;
    color: var(--text);
    margin-bottom: 20px;
}

.landscape__paragraph {
    font-size: 1.1rem;
    color: var(--text);
    line-height: 1.6;
}

.landscape__right {
    flex: 1;
}