#whatGSAI__container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.whatGSAI__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
}

.whatGSAI__title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: var(--text);
    margin-bottom: 20px;
}

.whatGSAI__paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: var(--text);
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 60%;
    text-align: center;
}

